@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway');


$coral: #f7867e;
$green: #96b375;
$teal: #00786c;
$grey-light: #efefef;

// Update Bulma's global variables
$family-primary: 'Luckiest Guy', cursive;
$family-secondary: 'Raleway', sans-serif;
$primary: $teal;
$link: $green;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $grey-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.site-name {
  color: $teal;
}

.notes-link {
  margin-top: 3rem;
  margin-left: 20px;
  float: left;

}