// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

// Font Variables
$indie-flower: 'Indie Flower', cursive;
$fredericka: 'Fredericka the Great', cursive;

body {
  margin: 0;
  padding: 0;
  font-family: $fredericka, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
